<a href="https://colab.research.google.com/github/RishavYaduvanshi/DMDW_LAB/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2
A) Defining three random arrays: a one-dimensional (x1),
two-dimensional (x2), and three-dimensional array
(x3). Use NumPyâ€™s random number generator, which we will
seed with a set value in order to ensure that the
same random arrays are generated each time this code is run.
B) Display the ndim (the number of dimensions), shape (the
size of each dimension), and size (the total size of the array) of the third array (x3).

In [ ]:
import numpy as np
import random
np.random.seed(0)
x1 = np.random.randint(10,size=6)
x2 = np.random.randint(10,size=(3,4))
x3 = np.random.randint(10,size=(3,4,5))
print('x3_dim',x3.ndim)
print('x3_shape',x3.shape)
print('x3_size',x3.size)

x3_dim 3
x3_shape (3, 4, 5)
x3_size 60

3) Create two numpy arrays named X and Y of integers using
range (1-10) and (11-20) command. Next, create a new array
Z by concatenate X and Y.

In [ ]:
import numpy as np
x=np.arange(1,10,dtype=int)
y=np.arange(11,20,dtype=int)
z=np.concatenate((x,y))
z

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

4) Define a two-dimensional (X2). Concatenate X2 with X2.

In [ ]:
import numpy as np
x=np.array([[1,2,3,],[4,5,6]])
y=np.array([[11,12,13,],[14,15,16]])
z=np.concatenate((x,y))
z

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [11, 12, 13],
       [14, 15, 16]])

5)
A) Create a numpy array named x of integers using range (1-
10) command.
B) Next, perform x+5, x-5, x/5, x*5, x^2, x%2, log(x),
log2(x), log10(x) operations over X.
C) Finally, compute some trigonometric functions (sin, cos,
tan) on X.

In [ ]:
import numpy as np
x=np.arange(1,10,dtype=int)
print('x+5 :',x+5)
x=np.arange(1,10,dtype=int)
print('x/5 : ',x/5)
x=np.arange(1,10,dtype=int)
print('x*5 : ',x*5)
x=np.arange(1,10,dtype=int)
print('x^5 : ',x^5)
x=np.arange(1,10,dtype=int)
print('log(x) : ',np.log(x))
print('log2(x) : ',np.log2(x))
print('log10(x) : ',np.log10(x))
print('sin : ',np.sin(x))
print('cos : ',np.cos(x))
print('tan : ',np.tan(x))

x+5 : [ 6  7  8  9 10 11 12 13 14]
x/5 :  [0.2 0.4 0.6 0.8 1.  1.2 1.4 1.6 1.8]
x*5 :  [ 5 10 15 20 25 30 35 40 45]
x^5 :  [ 4  7  6  1  0  3  2 13 12]
log(x) :  [0.         0.69314718 1.09861229 1.38629436 1.60943791 1.79175947
 1.94591015 2.07944154 2.19722458]
log2(x) :  [0.         1.         1.5849625  2.         2.32192809 2.5849625
 2.80735492 3.         3.169925  ]
log10(x) :  [0.         0.30103    0.47712125 0.60205999 0.69897    0.77815125
 0.84509804 0.90308999 0.95424251]
sin :  [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155
  0.6569866   0.98935825  0.41211849]
cos :  [ 0.54030231 -0.41614684 -0.9899925  -0.65364362  0.28366219  0.96017029
  0.75390225 -0.14550003 -0.91113026]
tan :  [ 1.55740772 -2.18503986 -0.14254654  1.15782128 -3.38051501 -0.29100619
  0.87144798 -6.79971146 -0.45231566]